.title{
  font-family: monospace;
  color: #00FF00;
  padding-right: 50px;
  padding-left: 50px;
}
.titlediv{
  background-color: rgba(5, 5, 5, 0.8);
  box-shadow: 0px -2px 2px rgba(0,0,0,0.7);
  margin-right: 444px;
}
.h2{
  background-color: rgba(5, 5, 5, 0.8);
  box-shadow: 0px -2px 2px rgba(0,0,0,0.7);
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.menuitem{
  align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.paragraph{
  color: #00FF00;
  font-family: courier;
  text-indent: 50px;
  margin-top: 100px;
  width: 500px;
  font-size: 24px;
}
.highlited{
  color: black;
  background-color: #00ff00;
}
body{
background-image: url('1010.jpg');
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(5, 5, 5, 0.8);
  box-shadow: 0px -2px 2px rgba(0,0,0,0.7);
}
li{
  display: inline;
  font-family: courier;
  font-size: 32px;
  color: #00ff00;
  padding: 10px 10px 10px 10px;
}
